<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Mot de passe oublié - OnlySkills</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="/assets/css/tailwind/tailwind.min.css">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-tailwind.png">
    <script src="/assets/js/main.js"></script>
</head>
<body class="antialiased bg-body text-body font-body">
<div class="">

    {{ > header}}
    <section class="py-12 bg-blueGray-50">
        <div class="container px-4 mx-auto">
            <div class="flex max-w-md mx-auto flex-col text-center">
                <div class="mt-12 mb-8 p-8 bg-white rounded shadow">




                    <span class="text-sm text-blueGray-400">Mot de passe oublié</span>
                    <h4 class="mb-6 text-3xl">Accédez de nouveau à votre compte</h4>






                    <form action="/new-password" method="post" accept-charset="UTF-8">

                        {{#errors}}
                        <div class="rounded-md mb-4 bg-red-50 p-4">
                            <div class="flex">
                                <div class="flex-shrink-0">
                                    <svg class="h-5 w-5 text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
                                    </svg>
                                </div>
                                <div class="ml-3">
                                    <h3 class="text-sm font-medium text-red-800">
                                        Veuillez corriger le(s) erreur(s) suivante(s) :
                                    </h3>
                                    <div class="mt-2 text-sm text-red-700">
                                        <ul class="list-disc pl-5 space-y-1">

                                            {{#errors.allErrors}}
                                            <li>
                                                {{msg}}
                                            </li>
                                            {{/errors.allErrors}}
                                            {{/errors}}


                                            <div class="flex -mx-3">
                            <div class="flex w-1/2 px-3">
                                <div class="flex w-full mb-4 px-4 bg-blueGray-50 rounded">

                                    <input class="w-full py-4 text-xs placeholder-blueGray-400 font-semibold leading-none bg-blueGray-50 outline-none" name="firstName" type="text" placeholder="Prénom">
                                </div>
                            </div>
                            <div class="flex w-1/2 px-3">
                                <div class="flex w-full mb-4 px-4 bg-blueGray-50 rounded">
                                    <input class="w-full py-4 text-xs placeholder-blueGray-400 font-semibold leading-none bg-blueGray-50 outline-none" name="lastName" type="text" placeholder="Nom">
                                </div>
                            </div>
                        </div>
                        <div class="flex mb-4 px-4 bg-blueGray-50 rounded">
                            <input class="w-full py-4 text-xs placeholder-blueGray-400 font-semibold leading-none bg-blueGray-50 outline-none" type="text" name="email" placeholder="Email">
                            <svg class="h-6 w-6 ml-4 my-auto text-blueGray-300" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207"></path>
                            </svg>
                        </div>
                        <button class="block w-full p-4 text-center text-xs text-white font-semibold leading-none bg-blue-600 hover:bg-blue-700 rounded">Valider</button>
                    </form>
                </div>
                <div>
                    <p class="text-xs text-blueGray-400 text-center"><a class="underline hover:text-blueGray-500" href="privacy-policy.html">Politique de confidentialité </a> and <a class="underline hover:text-bluegray-500" href="tos">CGU</a></p>
                </div>
            </div>
        </div>
    </section>

    {{ > footer}}
</div>
</body>
</html>

