<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Accueil - OnlySkills</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="/assets/css/tailwind/tailwind.min.css">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/metis-assets/icons/icon.png">
    <script src="/assets/js/main.js"></script>
</head>
<body  class="antialiased bg-body text-body font-body">
<div class="">

{{ > header}}

    <section>
        <div class="container px-4 mx-auto ">
            <div class="flex flex-wrap items-center -mx-3">
                <div class="w-full lg:w-1/2 px-3">
                    <div class="py-12">
                        <div class="max-w-lg lg:max-w-md mx-auto lg:mx-0 mb-8 text-center lg:text-left">
                            <h2 class="text-3xl md:text-4xl mb-4 font-bold font-heading">
                                <span>Bienvenue sur </span>
                                    <span class="text-blue-600">OnlySkills<span classe="text-black">.</span></span><br>
                                <span>Ici, vous n'êtes jugés que sur vos compétences.</span>
                            </h2>
                            <p class="text-blueGray-400 leading-relaxed">Nous rêvons d'un monde où il n'y aurait aucune discrimination à l'embauche. Nous regardons uniquement vos compétences. Vous êtes uniques et nous serons ravis de vous trouver le travail qui vous convient.</p>
                        </div>
                    </div>
                </div>
                <div class="w-full lg:w-1/2 px-3 mb-12 lg:mb-0">
                    <div class="lg:h-128 flex items-center justify-center"><img class="lg:max-w-lg" src="/assets/metis-assets/illustrations/work-tv.png" alt=""></div>
                </div>
            </div>
        </div>
    </section>

    <section class="py-20">
        <div class="container px-4 mx-auto">
            <div class="flex flex-wrap -mx-3">
                <div class="w-full md:w-1/2 px-3 order-1 md:order-0">
                    <div class="max-w-md">
                        <h2 class="mb-4 text-3xl md:text-4xl font-bold font-heading text-blue-600">Entreprise</h2>
                        <ul>
                            <li class="py-4">
                                <span class="inline-block py-2 px-3 mr-4 text-xs font-semibold bg-green-50 text-green-600 rounded">1</span>
                                <span>Notre service vous permet de trouver la perle rare !</span>
                            </li>
                            <li class="py-4">
                                <span class="inline-block py-2 px-3 mr-4 text-xs font-semibold bg-green-50 text-green-600 rounded">2</span>
                                <span>Tout cela est simple et gratuit</span>
                            </li>
                            <li class="py-4">
                                <span class="inline-block py-2 px-3 mr-4 text-xs font-semibold bg-green-50 text-green-600 rounded">3</span>
                                <span>Vous pouvez entrer en contact via notre service de messagerie instantanée</span>
                            </li>
                            <li class="py-4">
                                <span class="inline-block py-2 px-3 mr-4 text-xs font-semibold bg-green-50 text-green-600 rounded">4</span>
                                <span>Nous sommes impatients de répondre à vos besoins de recrutement</span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="w-full md:w-1/2 px-3 order-1 md:order-0">
                    <div class="max-w-md">
                        <h2 class="mb-4 text-3xl md:text-4xl font-bold font-heading text-blue-600">Employé</h2>
                        <ul>
                            <li class="py-4">
                                <span class="inline-block py-2 px-3 mr-4 text-xs font-semibold bg-green-50 text-green-600 rounded">1</span>
                                <span>Notre service vous permet de trouver le job de vos rêves !</span>
                            </li>
                            <li class="py-4">
                                <span class="inline-block py-2 px-3 mr-4 text-xs font-semibold bg-green-50 text-green-600 rounded">2</span>
                                <span>Tout cela est simple à prendre en main</span>
                            </li>
                            <li class="py-4">
                                <span class="inline-block py-2 px-3 mr-4 text-xs font-semibold bg-green-50 text-green-600 rounded">3</span>
                                <span>Vous pouvez entrer en contact avec votre futur entreprise via notre service de messagerie instantanée et anonyme</span>
                            </li>
                            <li class="py-4">
                                <span class="inline-block py-2 px-3 mr-4 text-xs font-semibold bg-green-50 text-green-600 rounded">4</span>
                                <span>Nous sommes impatients de vous mettre en contact avec votre futur employeur</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="py-20">
        <div class="container px-4 mx-auto">
            <div class="flex flex-wrap -mx-8">
                <div class="w-full lg:w-1/2 px-8">
                    <div class="mb-12 lg:mb-0 pb-12 lg:pb-0 border-b lg:border-b-0">
                        <h2 class="mb-4 text-3xl lg:text-4xl font-bold font-heading">Pourquoi nous faire confiance  ?</h2>
                        <p class="mb-8 leading-loose text-blueGray-400">C'est vrai après tout, pourquoi passer par nous pour chercher un emploi ou votre employé idéal ?
                        Pourquoi utiliser notre service et pas un autre ? </p>
                    </div>
                </div>
                <div class="w-full lg:w-1/2 px-8">
                    <ul class="space-y-12">
                        <li class="flex -mx-4">
                            <div class="px-4">
                                <span class="flex w-16 h-16 mx-auto items-center justify-center text-2xl font-bold font-heading rounded-full bg-blue-50 text-blue-600">1</span>
                            </div>
                            <div class="px-4">
                                <h3 class="my-4 text-xl font-semibold">Vos données sont protégées. </h3>
                                <p class="text-blueGray-400 leading-loose">Nous mettons un point d'honneur à respecter la RGPD.
                                Tout ce qui ce dit ici reste ici..Pas de communication à des tiers de vos données.
                                Vous pouvez à tout moment supprimer  ou télécharger vos données personnelles.</p>
                            </div>
                        </li>
                        <li class="flex -mx-4">
                            <div class="px-4">
                                <span class="flex w-16 h-16 mx-auto items-center justify-center text-2xl font-bold font-heading rounded-full bg-blue-50 text-blue-600">2</span>
                            </div>
                            <div class="px-4">
                                <h3 class="my-4 text-xl font-semibold">Futur employé : aucune discrimination n'est faite.</h3>
                                <p class="text-blueGray-400 leading-loose">Votre profil étant anonyme, aucune discrimination n'est possible. Seuls vos compétences et votre experience comptent.</p>
                            </div>
                        </li>
                        <li class="flex -mx-4">
                            <div class="px-4">
                                <span class="flex w-16 h-16 mx-auto items-center justify-center text-2xl font-bold font-heading rounded-full bg-blue-50 text-blue-600">3</span>
                            </div>
                            <div class="px-4">
                                <h3 class="my-4 text-xl font-semibold">Futur employeur :  trouvez le profil qui correspond le mieux à vos demandes.</h3>
                                <p class="text-blueGray-400 leading-loose">Entrez facilement en contact avec vos futurs employés et visualisez ses compétences et experiences.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="pt-20 pb-24 bg-blue-600">
        <div class="max-w-xl mx-auto text-center">
            <h2 class="mt-3 text-3xl mb-3 md:text-4xl text-white font-bold font-heading">Pas encore inscrit !</h2>

            <span class="inline-block py-1 px-3 bg-blue-500 text-xs text-white font-semibold rounded-xl">N'attendez plus et créez votre compte : </span>
            <div class="mt-6"><a class="inline-block text-xs py-4 px-8 bg-white hover:bg-blue-600 text-blue-600 hover:text-white font-semibold leading-none border hover:border-white rounded transition duration-300" href="/signup">Je crée mon compte  </a></br></div>
            <div class="mt-6"><a class="inline-block text-xs py-4 px-8 bg-white hover:bg-blue-600 text-blue-600 hover:text-white font-semibold leading-none border hover:border-white rounded transition duration-300" href="/signin">J'ai déja mon compte </a></div>
        </div>
    </section>

    <div id="divCookies" hidden class="fixed bottom-0 inset-x-0 z-50" style="display: none;">
        <div class="pt-4 px-6 pb-6 mt-8 bg-blueGray-800 text-white">
            <p class="font-bold font-heading">Utilisation des Cookies </p>
            <p class="mt-3 mb-6 text-blueGray-200 text-sm">Nous n'utilisons que des cookies de sessions pour  nous permettre de gérer votre session de connexion afin d'utiliser notre service.  Nous n'utilisons aucun autre cookie tiers</p>

                <button onclick="acceptCookies();" class="inline-block py-3 px-6 mr-2 text-xs leading-none bg-blue-600 hover:bg-blue-700 rounded" type="button">
                    J'ai compris</button>
        </div>
    </div>
    <script>

        var dropCookie = true;
        var cookieDuration = 365;
        var cookieName = 'acceptCookie';
        var cookieValue = 'on';

        function createCookie(name,value,days) {
            if (days) {
                var date = new Date();
                date.setTime(date.getTime()+(days*24*60*60*1000));
                var expires = "; expires="+date.toGMTString();
            }
            else var expires = "";
            if(window.dropCookie) {
                document.cookie = name+"="+value+expires+"; path=/";
            }
        }

        function checkCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for(var i=0;i < ca.length;i++) {
                var c = ca[i];
                while (c.charAt(0)==' ') c = c.substring(1,c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
            }
            return null;
        }

        window.onload = function(){
            if(checkCookie(window.cookieName) != window.cookieValue){
                document.getElementById('divCookies').style.display = "block";
            }
        }

        function acceptCookies()
        {
            createCookie(window.cookieName,window.cookieValue, window.cookieDuration);
            document.getElementById('divCookies').style.display = "none";
        }
    </script>
{{ > footer}}
</div>
</body>
</html>

