<!DOCTYPE html>
<html lang="fr">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="/assets/css/tailwind/tailwind.min.css">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/metis-assets/icons/icon.png">
    <script src="/assets/js/main.js"></script>
    <title>Politique de confidentialité - OnlySkills</title>
</head>
<body>
{{ > header}}

<section>
    <div class="container px-4 mx-auto">
        <div class=" -mx-3">

<h1 class="text-2xl font-black mt-8 mb-8">Politique de confidentialité</h1>

<div><strong class="text-xl font-black mt-8 mb-8">Introduction : </strong></div>
<div class="mt-8">Devant le développement des nouveaux outils de communication, il est nécessaire de porter une attention particulière à la protection de la vie privée. C’est pourquoi, nous nous engageons à respecter la confidentialité des renseignements personnels que nous collectons.</div>

<h2 class="text-xl font-black mt-8 mb-8">Collecte des renseignements personnels : </h2>

<div>
    <ul>
        <li>Prénom</li>
        <li>Adresse électronique</li>
    </ul>
</div>
<div>Les renseignements personnels que nous collectons sont recueillis au travers de formulaires et grâce à l’interactivité établie entre vous et notre site Web. <br>Nous utilisons également, comme indiqué dans la section suivante, des fichiers témoins et/ou journaux pour réunir des informations vous concernant.</div>
<div><br></div>
<h2 class="text-xl font-black mt-8 mb-8">Formulaires&nbsp;et interactivité:</h2>
<div class="text-l font-black mt-8 ">Vos renseignements personnels sont collectés par le biais de formulaire, à savoir :</div>

<div>
    <ul>
        <li class="mb-8">Formulaire d'inscription au site Web</li>
    </ul>
</div>
<div class="text-l font-black mt-8">Nous utilisons les renseignements ainsi collectés pour les finalités suivantes :</div>

<div>
    <ul>
        <li class=" mb-8">Contact</li>
    </ul>
</div>
<div class="text-l font-black mt-8" >Vos renseignements sont également collectés par le biais de l’interactivité pouvant s’établir entre vous et notre site Web et ce, de la façon suivante:</div>
<div><br></div>
<div>
    <ul>
        <li class=" mb-8" >Correspondance</li>
    </ul>
</div>
<div class="text-l font-black mt-8">Nous utilisons les renseignements ainsi collectés pour les finalités suivantes :</div>

<div>
    <ul>
        <li class=" mb-8">Contact </li>
    </ul>
</div>

<h2 class="text-xl font-black mt-8 mb-8" >Droit d’opposition et de retrait</h2>
<div>Nous nous engageons à vous offrir un droit d’opposition et de retrait quant à vos renseignements personnels.</div>
<div>Le droit d’opposition s’entend comme étant la possiblité offerte aux internautes de refuser que leurs renseignements personnels soient utilisées à certaines fins mentionnées lors de la collecte.</div>
<div><br></div>
<div>Le droit de retrait s’entend comme étant la possiblité offerte aux internautes de demander à ce que leurs renseignements personnels ne figurent plus, par exemple, dans une liste de diffusion.</div>
<div><br></div>
<div><strong>Pour pouvoir exercer ces droits, vous pouvez :</strong></div>
<div><br></div>
<div></div>
<div></div>
<div></div>
<div>Supprimer votre compte via votre espace utilisateur</div>
<div><br></div>
<h2 class="text-xl font-black mt-8 mb-8" >Droit d’accès</h2>
<div class="mb-8">Nous nous engageons à reconnaître un droit d’accès et de rectification aux personnes concernées désireuses de consulter, modifier, voire radier les informations les concernant.</div>
<div>L’exercice de ce droit se fera si vous ne respectez pas les<a  class="ml-2 font-bold font-heading hover:text-blueGray-600" href="tos">Conditions Générales d'Utilisation</a> ou sur votre demande via la section<a class="ml-2 font-bold font-heading hover:text-blueGray-600"  href="contact.html">contact</a> .</div>
<div><br></div>
<div></div>
<div></div>
<div></div>
<div><br></div>
<h2 class="text-xl font-black mt-8 mb-8">Sécurité</h2>
<div>Les renseignements personnels que nous collectons sont conservés dans un environnement sécurisé. Les personnes travaillant pour nous sont tenues de respecter la confidentialité de vos informations.</div>
<div><br></div>
<div>Pour assurer la sécurité de vos renseignements personnels, nous avons recours aux mesures suivantes :</div>
<div><br></div>
<div>
    <ul>
        <li>Gestion des accès - personne autorisée</li>
        <li>Gestion des accès - personne concernée</li>
        <li>Identifiant / mot de passe</li>
    </ul>
</div>
<div>Nous nous engageons à maintenir un haut degré de confidentialité en intégrant les dernières innovations technologiques permettant d’assurer la confidentialité de vos transactions. Toutefois, comme aucun mécanisme n’offre une sécurité maximale, une part de risque est toujours présente lorsque l’on utilise Internet pour transmettre des renseignements personnels.</div>
<div><br></div>
<h2 class="text-xl font-black mt-8 mb-8">Législation</h2>
<div>Nous nous engageons à respecter les dispositions législatives énoncées dans : <a class="ml-2 font-bold font-heading hover:text-blueGray-600" href="tos.html">les CGU</a> et <a href="privacy-policy" class="ml-2 font-bold font-heading hover:text-blueGray-600" >politique de confidentialité</a> </div>
<div><br></div>
<div>Législation:  <a class="ml-2 font-bold font-heading hover:text-blueGray-600" href="https://www.cnil.fr/fr/reglement-europeen-protection-donnees">RGPD</a></div>
<div><br></div>


</div>
    </div>
</section>
{{> footer}}
</body>
</html>